@font-face {
  font-family: "MuseoSans";
  src: url("fonts/MuseoSansRegular.woff") format("woff"),
  url("fonts/MuseoSansRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSans";
  src: url("fonts/MuseoSansBlack.woff") format("woff"),
  url("fonts/MuseoSansBlack.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "MuseoSans";
  src: url("fonts/MuseoSansBold.woff") format("woff"),
  url("fonts/MuseoSansBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}